*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    background-color: #000;
    color: $defaultFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 2rem 0;
    line-height: 1.4em;

    &:last-of-type {
        margin-bottom: 0;
    }
}

h1,
h2 {
    margin-bottom: 0.8em;
    max-width: 100%;
    line-height: 1.1em;
}

h1 {
    text-decoration: underline;
}

h2 {
    font-weight: light;
    font-size: 18px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    max-width: 1024px;
    margin: 0 auto;
}

a {
    color: #fff;
    font-size: $fontSize;
    font-weight: bold;
}

.demos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    > * {
        margin-right: 50px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.demo {
    display: flex;
    flex-direction: column;
}

.full-sized {
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.github-link {
    position: absolute;
    right: 20px;
    top: 20px;

    svg {
        fill: rgba(255,255,255,0.75);
        width: auto;

        &:hover {
            fill: #fff;
        }
    }

    span {
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute;
        height: 1px;
        width: 1px;
        overflow: hidden;
        word-wrap: normal;
    }
}