$gradientBg: rgba(0, 0, 0, 0) linear-gradient(90deg, hsl(141,81%,76%),hsl(186,81%,76%),hsl(231,81%,76%),hsl(276,81%,76%),hsl(321,81%,76%),hsl(6,81%,76%),hsl(51,81%,76%),hsl(96,81%,76%)) repeat scroll 0% 0% / 200% 200%;

@keyframes GradientAnimation {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

.gradient {
  background: $gradientBg;
  color: transparent;
  background-clip: text;
}

.gradient:hover{
  animation: GradientAnimation 2s ease infinite;
}