$gradientBg: rgba(0, 0, 0, 0) $gradient repeat scroll 0% 0% / 200% 200%;

@keyframes GradientAnimation {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

.gradient {
  background: $gradientBg;
  color: transparent;
  background-clip: text;
}

.gradient:hover{
  animation: GradientAnimation 2s ease infinite;
}