.stripes {
  position: relative;
  color: transparent;
  background: url("/images/stripes.png") repeat #fff;
  background-size: 100%;
  background-position: 0%;
  background-clip: text;
  animation: stripe2Animation 3s linear infinite;
  animation-play-state: paused;

  &:hover {
    animation-play-state: running;
  }

  @keyframes stripe2Animation {
    100% {
      background-position-y: -200%;
    }
  }
}