.text-border {
  text-decoration: none;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
}

.text-border {
  position: relative;
  white-space: nowrap;
  text-shadow: -2px 0 $greenBlue, 0 2px $greenBlue, 2px 0 $greenBlue, 0 -2px $greenBlue;
  width: 100%;
  transition: width 0.5s ease;

  &::after {
    content: 'HOVER ME';
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  &:hover {
    width: 0%;
  }
}